<div *ngIf="heroes$ | async as heroes; else loading">
  <div>
    {{ heroes | json}}
  </div>
  <h1>Heroes!</h1>
  <a [routerLink]="['/']">Home</a>

  <app-search (doSearch)="searchText$.next($event)"></app-search>

  <div class="row">
  <app-hero-list class="mx-2 col-3" [heroes]="heroes"
  [selectedHero]="selectedHero"
  (heroSelected)="selectHero($event)"
  ></app-hero-list>
  <app-hero-details class="col-4" [selectedHero]="selectedHero"></app-hero-details>
  </div>
</div>
<ng-template #loading>
  <h2>LOADING.....</h2>
</ng-template>
